@import './utilities/variables';
@import './utilities/typography';

@import './components/header';
@import './components/cameraCards';

.App{
    background-color: $darkBlue;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 15rem;
}

main{
    @include center;
    padding-top: 3rem;
    width: 100%;

    >div{

        width: 85%;
        // width: 100%; 
        >div{
            @include center;
            justify-content: center;
            gap: 6rem;
            flex-wrap: wrap;
            
        }
    }
}